.bookBG {
    /* background-image: url("https://images.pexels.com/photos/13354414/pexels-photo-13354414.jpeg?cs=srgb&dl=pexels-lisa-fotios-13354414.jpg&fm=jpg&_gl=1*1qfezbv*_ga*MTQ0NTYyMzkxNi4xNjY3NzUxNjI1*_ga_8JE65Q40S6*MTY2NzkxMTg3Ny41LjEuMTY2NzkxMjI3My4wLjAuMA..") !important; */
    overflow: hidden;
    text-align: center !important;
    height: 100%;
    padding-left: auto;
}



/* cover of the book  */
.bookCover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5rem;
    min-height: 100vh;
}

.bookCover img {
    height: 30rem;
    border-radius: 10px
}

.buttonColor {
    text-transform: none !important;
    background-color:  #4681f4 !important;
    color: azure !important;
    margin: 10px !important;
}
.card{
    padding: 10px 10px 10px 10px;
    width: 350px;
    height: auto;
}

.header {
    margin: 10px;
    color: #013220;
}
h3{
    color: red;
}
.float {
    margin-top: 5px;
    color: #013220;
    font-weight: bold;
}
.copyRight{
     color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);
     position: absolute;
     bottom:0;
     left: 42%;
     display: flex;
     justify-self: center;
     justify-content: center;
     align-items: center;
}
